.categoryCard {
    height: 8rem;
    background: linear-gradient(135deg, #22236D, #2d3784);
}

.categoryCard:hover {
    background: linear-gradient(135deg, #4055a2, #5b67b8);
}


.greyCard {
    height: 8rem;
    background: linear-gradient(135deg, #4e4f69, #44444e);
}




.categoryCard-title{
    color: white;
}

.categoryCol{
    max-width: 20rem;
}

@media (max-width: 576px) {
    .categoryCard, .greyCard {
        height: 4rem;
    }

}

