.bg-nav {
    background-color: #22236D;
}

nav{
    z-index: 100;
}

nav:not(.navDrop){
    position: sticky;
    top: 0;
}

.navDrop{
    animation-name: navbarDrop;
    animation-fill-mode: forwards;
}

@keyframes navbarDrop {
    0%{
        position: relative;
        top: -250px;
    }
    99%{
        position: relative;
    }
    100%{
        position: sticky;
        top: 0;
    }
}