#searchbarForm{
    display: none;
}

.maxHeight {
    max-height: 250px;
    overflow: hidden;
}

.upperShadow{
    position: relative;
    box-shadow: 0px -10px 15px 0px #22236D;
    z-index: 1000 !important;
}

option{
    color: black !important;
}